{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}


    {# <div>
        <ul class="list-group">
        {% for entities in entiities %}
            <li>
                <li class="list-group-item">{{ entity.name}}
            </li>
        {% endfor %}
        </ul> 
    </div> #}

{% endblock %}
{% block body %}
{% endblock %}
